/* :root {
  --view-size: 80%;
} */

/* @font-face {
  font-family: 'Mukta-Regular';
  src: url('../fonts/Mukta-Regular.ttf') format('truetype');
} */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #555;
  /* font-family: Mukta-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  overflow: hidden;
  position: relative;
}

#main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1000px) {
}
